* {
	font-family: "Bebas Neue", cursive;
	text-decoration: none;
	list-style: none;
	--liteflixAqua: #64eebc;
	--liteflixWhite: #ffffff;
	--liteflixGrey: #242424;
}
/* font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif; */
body {
	background-image: url("./assets/descarga.jpg");
	background-size: cover;
	color: var(--liteflixWhite);
	margin: 0;
	padding: 0;
}
@media only screen and (min-width: 1024px) {
	body {
	}
}
